.title-legend {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @color-tiffany;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .title-legend {
    position: absolute;
    top: 66px;
  }
}
