html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: @color-grey;
}

.vissually-hidden {
  .vissually-hidden();
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @color-black;
}
