html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: @color-grey;
}

input:focus-visible {
  outline: none;
}

.vissually-hidden {
  .vissually-hidden();
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @color-black;
}

.field {
  padding: 16px 0;
  border: none;
  border-bottom: 2px solid @color-black;

  &::placeholder {
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: @color-black;
    opacity: 0.3;
  }

  &:hover {
    border-color: @color-tiffany;

    & + .field-icon {
      fill: @color-tiffany;
      opacity: 1;
    }
  }

  &:active {
    border-color: @color-tiffany;

    & + .field-icon {
      fill: @color-tiffany;
      opacity: 1;
    }
  }
}

.field-icon {
  fill: @color-black;
  opacity: 0.2;
}

