.products {
  padding: 30px;
  box-sizing: border-box;
}

.products__list {
  .list-reset();
}

.products__item {
  margin-bottom: 30px;

  &--last {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .products {
    padding: 67px 0 0;
  }
}
