.production {
  padding: 0 30px 58px;
  box-sizing: border-box;
}

.production__wrapper {
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 6px 10px rgba(@color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(@color-black, 0.1);
  }
}

.production__title-wrapper {
  padding: 22px 34px 26px;
  box-sizing: border-box;
  border: 1px solid @color-light-grey;
}

.production__title {
  display: block;
  margin: 0;
  padding-left: 57px;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;
  background-image: url("../img/icon/icon-camera.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.production__image-wrapper {
  position: relative;
  display: block;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/icon/icon-play.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &:hover::before {
    transform: scale(1.2);
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__image {
  display: block;
  box-sizing: border-box;
}

.production__text-wrapper {
  padding: 35px 34px 33px;
  border: 1px solid @color-light-grey;
}

.production__text {
  margin-top: 0;
  margin-bottom: 41px;
  margin-right: -6px;
  display: block;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .production {
    padding: 0;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .production__title-wrapper {
    border-bottom: none;
  }

  .production__image-wrapper {
    order: -1;
  }

  .production__image {
    width: 100%;
    height: 455px;
  }

  .production__text-wrapper {
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .production__wrapper {
    display: grid;
    grid-template-columns: 682px auto;
    margin-bottom: 104px;
  }

  .production__title-wrapper {
    padding: 37px 56px 28px 80px;
    grid-column: 2 / 3;
  }

  .production__image-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .production__text-wrapper {
    padding: 0 56px 60px 80px;
    grid-column: 2 / 3;
  }
}
