.categories {
  position: relative;
}

.categories__list {
  .list-reset();
}

.categories__item {
  position: relative;
  box-sizing: border-box;

  &--interior {
    background-color: @color-tiffany;
  }

  &--toys {
    background-color: @color-tiffany-dark;
  }
}

.categories__item-link {
  position: relative;
  width: @mobile-width;
  padding: 24px 30px 31px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  display: block;
  text-decoration: none;
}

.categories__item-title {
  width: 130px;
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @color-white;
  text-decoration: none;
}

.categories__item-icon {
  position: absolute;
  fill: #149080;

  &--interior {
    top: 23px;
    right: 36px;
  }

  &--toys {
    top: 21px;
    right: 27px;
  }
}

@media (min-width: @tablet-width) {
  .categories {
    background-color: #fafafa;
  }

  .categories__list {
    .padding-sides-adaptive();
    display: flex;
    width: @tablet-width;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .categories__item {
    width: 100%;
  }


  .categories__item-link {
    width: 100%;
    padding: 25px 36px 34px;
    margin: 0;
  }

  .categories__item-title {
    font-size: 20px;
    line-height: 30px;
  }

  .categories__item-icon {
    &--interior {
      top: 30px;
    }

    &--toys {
      top: 31px;
      right: 33px;
    }
  }
}

@media (min-width: @desktop-width) {
  .categories__list {
    width: @desktop-width;
  }

  .categories__zig-zag {
    height: 34px;
    margin-top: -17px;
  }
}

