.categories {
  width: @mobile-width;
}

.categories__list {
  .list-reset();
}

.categories__item {
  position: relative;
  padding: 24px 30px 31px;
  box-sizing: border-box;
  background-color: @color-tiffany;

  &--dark {
    background-color: @color-tiffany-dark;
  }
}

.categories__item-title {
  width: 130px;
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @color-white;
  text-decoration: none;
}
