.featured {
  .zig-zag-line();
  width: @mobile-width;
  padding: 31px 30px 42px;
  box-sizing: border-box;
}

.featured__title {
  margin-bottom: 4px;
}

.featured__product-week {
  margin: 0;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-tiffany;
}

.featured__description {
  margin: 0;
  margin-bottom: 18px;
}

.featured__specifications-list {
  .list-reset();
  margin-bottom: 28px;
}

.featured__specifications-item {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
  line-height: 20px;
  border-bottom: 1px solid @color-light-grey;
}

.featured__specifications-info {
  width: 97px;
}

.featured__specifications-descriotion {
  margin: 0;
}

.featured__image {
  display: block;
  margin-bottom: 25px;
}


.featured__price {
  display: block;
  margin: 0 auto 25px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
