.reviews {
  .zig-zag-line();
  padding: 31px 30px 51px;
  box-sizing: border-box;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;
}

.reviews__autho-id {
  margin-bottom: 30px;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__toggles {
  margin-top: 0;
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-left: -50px;
    padding-left: 50px;
    padding-right: 0;
    padding-top: 82px;
    padding-bottom: 132px;
    background-image: url("../img/backgrounds/review-background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__title {
    order: 1;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__toggles {
    margin-left: auto;
    margin-top: -90px;
    order: 5;
    transform: scale(0.96);
  }

  .reviews__write {
    order: 2;
    width: 175px;
    height: 52px;
    margin-left: auto;
  }
}
