.reviews {
  width: @mobile-width;
  padding: 31px 30px 51px;
  box-sizing: border-box;
  .zig-zag-line();
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.reviews__autho-id {
  margin-bottom: 30px;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__toggles {
  margin-top: 0;
  margin-bottom: 38px;
}
