.main-header__wrapper {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  padding: 22px;
  box-sizing: border-box;
  background: @color-white;
  box-shadow:
    0 1px 0 @color-light-grey,
    inset 0 1px 0 @color-light-grey;
}

.main-header__logo {
  width: 86px;
  height: 100%;
  display: flex;
  margin: 0 auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 21px;
  cursor: pointer;
}
