.user-list {
  .list-reset();
}

.user-list__item {
  position: relative;
}

.user-list__icon {
  position: absolute;
  top: 50%;
  fill: @color-black;
  opacity: 0.2;
  transform: translateY(-50%);

  &--search {
    left: 32px;
  }

  &--cart {
    left: 30px;
  }
}

.user-list__button {
  .nav-list-button();
}

.user-list__button:hover .user-list__icon {
  fill: @color-tiffany;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .user-list {
    max-width: 520px;
    display: flex;
  }

  .user-list__item {
    border-left: 1px solid @color-light-grey;
  }

  .user-list__button {
    min-width: 82px;
    min-height: 89px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .user-list__button--last {
    padding-right: 0;
  }

  .user-list__button--search .user-list__text {
    .visually-hidden();
  }

  .user-list__text {
    margin-left: 62px;
  }
}
