.intro {
  background-color: @color-dirty-white;

  &--index {
    background-color: #fafafa;
  }
}

.intro__wrapper {
  margin: 0 auto;
  padding: 73px 30px;
  width: @mobile-width;
  box-sizing: border-box;


  &--index {
    padding-bottom: 120px;
    background-image: url("../img/backgrounds/index-intro-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.intro__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @color-black;
}

@media (min-width: @tablet-width) {
  .intro__wrapper {
    .padding-sides-adaptive();
    width: @tablet-width;
    padding-top: 101px;
    min-height: 226px;

    &--index {
      height: 626px;
      padding-top: 155px;
    }
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .intro__wrapper {
    width: @desktop-width;

    &--index {
      height: 626px;
      padding-top: 157px;
    }
  }

  .categories__list {
    padding-bottom: 12px;
  }

  .intro__title {
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

